# Addition

In [1]:
3+2

5

# Subtraction

In [2]:
5-6

-1

# Multiplication

In [3]:
4*3

12

# Division with a float quotient

In [4]:
4/5

0.8

# Division with an integer quotient

In [5]:
4//5

0

In [6]:
6/3

2.0

In [7]:
6//2

3

In [8]:
6//3

2

# Division with a remainder as output

In [9]:
6%3

0

# string with quotations

In [10]:
'filza'

'filza'

In [11]:
filza's

SyntaxError: EOL while scanning string literal (<ipython-input-11-01585f7b7a50>, line 1)

In [ ]:
"filza's"

# double quotes single quotes

In [1]:
print ('"Filza"')

"Filza"

# n times the string

In [2]:
32*' Filza '

' Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza  Filza '

In [4]:
print ("filza")

filza

# taking apostrophe and the quotations inside

In [5]:
print ('filza\'s "laptop"')

filza's "laptop"

# using variables

In [6]:
x=4
y=3
x+y

7

# using previous answer

In [7]:
_ * 3

21

# taking raw output; else

In [8]:
print (r"c\docs\n\filza ") #  for raw string use 'r'
print ("c\docs\nfilza")

c\docs\n\filza
c\docs
filza

# fetching the item

In [9]:
name='filza manzoor'

In [10]:
name[0]

'f'

In [11]:
name[4]

'a'

In [12]:
name[-3]

'o'

In [13]:
name[2:9] #counts space aswell, gives n-1 number from the end

'lza man'

In [14]:
name[4:] #not specifying the end will give whole answer till the end

'a manzoor'

In [15]:
name[:7] #not specifying the start will give whole answer from the start

'filza m'

# changing the value in a string

In [16]:
# i will change the word 'filza' for 'rabia' (from blah : to blah in sq bracket is an array)
name[0:5] = 'rabia'

TypeError: 'str' object does not support item assignment

In [17]:
# it shows that string is immutable (non changeable)

In [18]:
 'Rabia ' + name[0:5] # it shows that we can simply concatenate

'Rabia filza'

In [19]:
'Rabia ' + name[5:]

'Rabia  manzoor'

# finding len of a str

In [20]:
myname= 'muhammadalijinnahthefounderofPakistan'
len(myname)

37

In [21]:
myname= 'muhammadalijinnah'
len(myname)

17

In [22]:
myname= 'muhammadalijinnah'
len(myname)

17

In [26]:
print(r'Jinnah \n Rocks')

Jinnah \n Rocks

# lists

In [27]:
'sq brackets'

'sq brackets'

In [28]:
nums=[34,65,8,76]

In [29]:
nums

[34, 65, 8, 76]

In [30]:
nums[0:3]

[34, 65, 8]

In [31]:
nums[-2]

8

In [32]:
names=['john', 'kiran','steve']

In [33]:
names

['john', 'kiran', 'steve']

In [34]:
#the beauty of list is that we can have different type of data

In [35]:
ghu=[4.65, 'filza', 7, True]

In [36]:
ghu

[4.65, 'filza', 7, True]

# list of list

In [37]:
mil=[nums, names, ghu]

In [38]:
mil

[[34, 65, 8, 76], ['john', 'kiran', 'steve'], [4.65, 'filza', 7, True]]

In [39]:
mil[2:]

[[4.65, 'filza', 7, True]]

In [40]:
mil[1] #behaves like a normal list and we can call items similarly

['john', 'kiran', 'steve']

# some functions on list

In [41]:
nums.append(3) #the diff b/w append and insert

In [42]:
nums

[34, 65, 8, 76, 3]

In [43]:
nums.insert(2,3) #before comma is the index, after it is the value

In [44]:
nums

[34, 65, 3, 8, 76, 3]

In [45]:
nums.remove(76) #directly removes the value not by the index
nums

[34, 65, 3, 8, 3]

In [46]:
nums

[34, 65, 3, 8, 3]

In [47]:
nums.pop (0) #removes by the index

34

In [48]:
nums

[65, 3, 8, 3]

In [49]:
nums.remove(3)
nums

[65, 8, 3]

In [50]:
nums.insert(3,12)

In [51]:
nums

[65, 8, 3, 12]

In [52]:
nums.remove(2)

ValueError: list.remove(x): x not in list

In [53]:
nums.pop(2)
nums

[65, 8, 12]

In [54]:
del names[1:3]

In [55]:
names

['john']

In [56]:
nums.extend([12,43,7,69])

In [57]:
nums

[65, 8, 12, 12, 43, 7, 69]

# in built functions on list

In [58]:
min(nums)

7

In [59]:
max(nums)

69

In [60]:
sum(nums)

216

In [61]:
nums.sort()

In [62]:
nums

[7, 8, 12, 12, 43, 65, 69]

In [64]:
#question activity
n='Assasin'

print(n[-3])

s

# Tuples and sets

In [65]:
#tuples are immutable.they are used because they iterate faster
#sets donot always write its elements in sorted way. also doesnt repeat the same value twice

In [66]:
s=[35,26,95,14,12,26]
del s[2:5]

In [67]:
s

[35, 26, 26]

# help

In [68]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

# finding address of a variable

In [69]:
num=4

In [70]:
id (num) # id used for address

140706905101216

In [71]:
name="filza"

In [72]:
id(name)

376295556016

# converting the float type into int

In [73]:

a=4.5
b=int(a)

In [74]:
b

4

In [75]:
#we can do the vice versa

# Dictionary

In [81]:
d={'rahul': 'iphone', 'navin': 'samsung'}

In [82]:
d.keys()

dict_keys(['rahul', 'navin'])

In [83]:
d.values()

dict_values(['iphone', 'samsung'])

In [85]:
#in list we use index no. to call, but the dic is similar to set which doesnt use a \n index so we call the value directly
d['rahul']

'iphone'

In [80]:
d.get('navin')

'samsung'